.App{
    text-align: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.content{
    width: 410px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    height: 480px;
}
.title{
    font-size: 38px;
    color: rgb(128, 125, 116);
    text-align: center;
}
.name{
    font-size: 24px;
    color: rgb(160, 118, 139);
    margin-top: 5px;
}
.cost{
    font-size: large;
    color: rgb(100, 96, 98);
    margin-top: 0;
}
.main-btn{
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    margin: 5px;
    text-align: center;
    font-size: large;
    color: rgb(60, 62, 63);
    background-color: rgb(228, 150, 217);
}
.add-btn {
  padding: 1.5em auto;
  margin: 1em auto;
  background-color: #FEB1C0;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
  width: 160px;
  height: 35px;
  text-align: center;
  margin-left: 120px;
  margin-top: 20px;
}
.add-btn:hover{
    letter-spacing: 0.3em;
  background-color: #F08C99;
}

img{
    width: 380px;
    height: 300px;
    background-size: cover;
}

@media screen and (max-width: 320px){
    .App{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content{
    width: 250px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    margin: 10px 20px;
    height: 420px;
    border: hotpink 1px solid;
}

.name{
    font-size: 22px;
    color: rgb(160, 118, 139);
    /* margin-top: 5px; */

}
.cost{
    font-size: large;
    color: rgb(100, 96, 98);
    margin-top: 0;
}

    img{
    width: 250px;
    height: 300px;
    background-size: contain;
}
.main-btn{
    display: flex;
    justify-content: center;
    margin-left: 140px;
    margin-top: 10px;
 }
 .add-btn{
     margin: 10px auto;
     padding: 0;
 }
}